{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "/confirm-details",
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      {% include "save/save.njk" %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="/management-control" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "hasManagementControl",
          name: "hasManagementControl",
          fieldset: {
            legend: {
              text: "Will you have management control of this land?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "<p class=\"govuk-body\">You should have land management control for the full 3 years of the agreement.</p>
                  <p class=\"govuk-body\">If you have less than 2 years left on the term of your tenancy, you will only be able to apply for funding if you:</p>
                  <ul class='govuk-list govuk-list--bullet'>
                    <li>renew the tenancy early</li>
                    <li>wait until you have renewed the tenancy and apply after</li>
                  </ul>
                  <p class=\"govuk-body\">If you have a licence arrangement, contact the Rural Payments Agency.</p>"
          },
          items: [
            {
              value: true,
              text: "Yes"
            },
            {
              value: false,
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
        text: "Continue",
        attributes: {
          id: "submit"
        }
      }) }}

      </form>
    </div>
  </div>
{% endblock %}
