{% extends "_layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "/arable-soils/medium/soil-compaction",
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      {% include "save/save.njk" %}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="green-cover" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <span class="govuk-caption-l">
        Arable and horticultural soils medium level
      </span>

      {{ govukRadios({
          idPrefix: "green-cover",
          name: "green-cover",
          fieldset: {
            legend: {
              text: "Can you establish green cover on 10% of your land to protect your soil over winter?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, I can"
            },
            {
              value: "doing",
              text: "I'm already doing this and will keep doing it"
            },
            {
              value: "no",
              text: "No, I cannot do this"
            }
          ]
        }) }}

      {{ govukDetails({
        summaryText: "How do I establish green cover?",
        text: ""
      }) }}

      {{ govukDetails({
        summaryText: "What happens if you cannot achieve a scheme action?",
        text: ""
      }) }}


      {{ govukButton({
        text: "Continue",
        attributes: {
          id: "submit"
        }
      }) }}
    </form>
  </div>
  <div>
</div>
{% endblock %}