{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: "/check-eligibility/bps"
      }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="/check-eligibility/land-types" novalidate>
      {{ govukCheckboxes({
          idPrefix: "land-types",
          name: "land-type",
          fieldset: {
            legend: {
              text: "Which of these land types do you have registered in England?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Choose all that apply. Include anything that's part of your plans."
          },
          items: [
            {
              value: "arableHorticultural",
              text: "Arable and horticultural"
            },
            {
              value: "permanentGrassland",
              text: "Permanent grassland"
            },
            {
              value: "livestock",
              text: "Livestock management"
            },
            {
              value: "organic",
              text: "Organic land"
            },
            {
              value: "trees",
              text: "Trees (non-woodland)"
            },
            {
              value: "uplands",
              text: "Uplands"
            },
            {
              value: "woodland",
              text: "Woodland"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    </div>
  </div>
{% endblock %}