{% macro agreements(agreements) %}
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Agreements</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Id</th>
        <th scope="col" class="govuk-table__header">SBI Number</th>
        <th scope="col" class="govuk-table__header">Date</th>
        <th scope="col" class="govuk-table__header">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for agreement in agreements %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{ agreement.agreementId }}</th>
          <td class="govuk-table__cell">{{ agreement.sbi }}</td>
          <td class="govuk-table__cell">{{ agreement.updatedAtFormated }}</td>
          <td class="govuk-table__cell">
            {% if agreement.statusId === 1 %}
              <a href="/agreement?agreementId={{agreement.agreementId}}">IN PROGRESS</a>
            {% else %}
              COMPLETED
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}