{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  <a id="back" href="#" onclick="history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Summary</h1>
      <p class="govuk-inset-text govuk-body-l">
       You'll get <strong>£{{ paymentAmount }}</strong> for the scheme actions you've chosen.</p>
      <p class="govuk-body">You can get paid more if you add land or actions.</p>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Funding breakdown</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Scheme actions</th>
            <th scope="col" class="govuk-table__header app-custom-class">Amount</th>
            <th scope="col" class="govuk-table__header app-custom-class">Payment</th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Minimise poaching on bare land</td>
            <td class="govuk-table__cell">55 hectares</td>
            <td class="govuk-table__cell">£3,245</td>
            <td class="govuk-table__cell"><a href="/funding-options/change#improved-grassland">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Carry out a soil assessment on at least 25% of my land</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Avoid machinery traffic and cultivation on wet soil</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Establish or sow grassland seed on fields at high risk of flooding</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Reduce or remove livestock from permanent grassland when the soil is wet</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Increased payment actions</th>
            <th scope="col" class="govuk-table__header app-custom-class">Amount</th>
            <th scope="col" class="govuk-table__header app-custom-class">Payment</th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Establish green cover on land at risk of flooding</td>
            <td class="govuk-table__cell">12 hectares</td>
            <td class="govuk-table__cell">£1,368</td>
            <td class="govuk-table__cell"><a href="/funding-options/change#improved-grassland">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Convert arable land to permanent grass</td>
            <td class="govuk-table__cell">5 hectares</td>
            <td class="govuk-table__cell">£1,555</td>
            <td class="govuk-table__cell"><a href="/funding-options/change#improved-grassland">Change</a></td>
          </tr>
        </tbody>
      </table>
      <form method="POST" action="/funding-options/calculation" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
