{% extends "_layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  
    <link href="../static/css/map.198922b401938170856a.css" rel="stylesheet">
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {% if model.selectedStandardCode === 'sfi-improved-grassland' %}
        <a href="/funding-options/grassland-overview" class="govuk-back-link">Back</a>
      {% endif %}

      {% if model.selectedStandardCode === 'sfi-arable-soil' %}
        <a href="/funding-options/arable-overview" class="govuk-back-link">Back</a>
      {% endif %}
    </div>
    <div class="govuk-grid-column-one-half">
      {% include "save/save.njk" %}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form method="POST" autocomplete="off" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>

      {% if model.selectedStandardCode === 'sfi-improved-grassland' %}
        <span class="govuk-caption-l">
          Improved grassland soils
        </span>
        <h1 class="govuk-heading-l">
          How much improved grassland do you want to use in the scheme?
        </h1>
      {% endif %}

      {% if model.selectedStandardCode === 'sfi-arable-soil' %}
        <span class="govuk-caption-l">
          Arable and horticultural soils
        </span>
        <h1 class="govuk-heading-l">
          How much arable land do you want to use in the scheme?
        </h1>
      {% endif %}

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">Change view</label>
        <select class="govuk-select" id="layer-select" name="layer-select">
          <option value="Road_27700" selected>Road</option>
          <option value="Outdoor_27700">Outdoor</option>
          <option value="Light_27700">Light</option>
          <option value="Leisure_27700">Leisure</option>
        </select>
      </div>  
      <p class="govuk-body"><div id="map" class="map"></div></p>
      <p id="parcelInfo" class="govuk-body"></p>
      <div class="govuk-hint">
        Choose the land parcels you want to use and add the number of hectares. You cannot use land designated as SSSI or peat.
      </div>
      {% if model.invalidValues %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Please enter valid values"
            }
          ]
        }) }}
      {% endif %}

      {% if model.error %}
        <span id="parcels-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Please select a parcel
        </span>
      {% endif %}

      {% if model.checkboxItems.length > 0 %}
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          {% for item in model.checkboxItems %}
            <div class="govuk-checkboxes__item">
            {% if item.checked %}
              <input class="govuk-checkboxes__input" id="{{ item.value }}" name="parcels" type="checkbox" value="{{ item.value }}" data-aria-controls="conditional_{{ item.value }}" checked>
            {% else %}
              <input class="govuk-checkboxes__input" id="{{ item.value }}" name="parcels" type="checkbox" value="{{ item.value }}" data-aria-controls="conditional_{{ item.value }}">
            {% endif %}
              <label class="govuk-label govuk-checkboxes__label" for="{{ item.value }}">
                {{ item.text}}
              </label>
              <div id="parcel-item-hint" class="govuk-hint govuk-checkboxes__hint">
                {{ item.hint.text }}
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="hectares_{{ item.value }}">
                    Hectares to use in this land parcel
                  </label>                     
                    <input class="govuk-input govuk-!-width-one-third" name="parcelArea_{{ item.value }}" value="{{ item.textBoxValue }}" type="text" spellcheck="false" autocomplete="false">                      
                </div>
              </div>
              {% if item.warnings.length > 0 %}
                <div class="govuk-warning-text">
                {% for warning in item.warnings %}
                  {% if warning.SSSI === true %}
                    <p>
                      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                        Potential SSSI conflict
                      </strong>
                    </p>
                  {% endif %}
                  {% if warning.HEFER === true %}
                    <p>
                      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                        Potential HEFER conflict
                      </strong>
                    </p>
                  {% endif %}
                  {% if warning.SFI === true %}
                    <p>
                      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Potential SFI conflict
                      </strong>
                    </p>
                  {% endif %}
                {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <br>
      {{ govukButton({
          text: "Continue",
          attributes: {
            id: "submit"
          }
        }) }}

      {% if selectedStandardCode === 'sfi-improved-grassland' %}
        {{ govukDetails({
          summaryText: "What is improved grassland?",
          text: "Improved grassland is grassland you’re managing to improve your agricultural production."
        }) }}
      {% endif %}

    </form>
  </div>
</div>

  <script src="../static/js/map.198922b401938170856a.js"></script>

<script>
  const parcels = {{ map.parcels | dump | safe }}
  const center = {{ map.center | dump | safe }}
  const sbi = {{ map.sbi }}
  const apiKey = {{ map.apiKey | dump | safe }}
  const mapStyle = {{ map.mapStyle | dump | safe }}
  const selectedParcels = {{ model.selectedParcels | dump | safe }}
  if (mapStyle !== '') { 
    document.getElementById("layer-select").value = mapStyle
  }
  if(apiKey !== '') {
    map.displayMap(apiKey, sbi, parcels, center, selectedParcels, true)
  }
</script>
{% endblock %}
