{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  <a id="back" href="#" onclick="history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Arable and horticultural soils</span>
      <h1 class="govuk-heading-l">How much of your land will you use for the primary actions?</h1>
      <form method="POST" action="/funding-options/land-primary-actions" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        {% if errors %}
          {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Please enter valid values"
            }
            ]
          }) }}
        {% endif%}
        {% if landParcels.features.length %}
          <table id="parcels" class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Parcel Number</th>
                <th scope="col" class="govuk-table__header">Total Area</th>
                <th scope="col" class="govuk-table__header">Land in hectares</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for feature in landParcels.features %}
              <tr class="govuk-table__row" id="{{feature.id}}">
                <td class="govuk-table__cell">
                    {{ feature.properties.sheet_id }} {{ feature.properties.parcel_id }}
                </td>
                <td class="govuk-table__cell">
                  {{ feature.properties.area_ha | round(4) }}
                </td>
                <td class="govuk-table__cell">
                  {% set parcelNumber = [feature.properties.sheet_id, feature.properties.parcel_id] | join %}
                  {% if landInHectares.length > 0 %}
                    {% for landInHectare in landInHectares %}
                      {% if parcelNumber === landInHectare.name %}
                        <div class="govuk-input__wrapper">
                            <input class="govuk-input govuk-input--width-5" id="{{feature.properties.sheet_id}}{{feature.properties.parcel_id}}" name="{{feature.properties.sheet_id}}{{feature.properties.parcel_id}}" type="text" spellcheck="false" autocomplete="false" inputMode="decimal" value="{{landInHectare.value}}">
                            <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                            <input type="text" style="display:none" name="{{parcelNumber}}" value="{{ feature.properties.area_ha | round(4) }}" hidden>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-5" id="{{feature.properties.sheet_id}}{{feature.properties.parcel_id}}" name="{{feature.properties.sheet_id}}{{feature.properties.parcel_id}}" type="text" spellcheck="false" autocomplete="false" inputMode="decimal">
                      <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                      <input type="text" style="display:none" name="{{parcelNumber}}" value="{{ feature.properties.area_ha | round(4) }}" hidden>
                    </div>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
<script>
  document.getElementById("govuk-form-group").style.marginBottom = "unset";
</script>
