{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Unfortunately, that standard and parcel combination is not valid</h1>

      <p class="govuk-body">The selected parcels are not eligible for the chosen funding.</p>

      <p class="govuk-body">
        <a href="/funding-options/standards" class="govuk-link">Try another standard</a>
      </p>
    </div>
  </div>
{% endblock %}
