{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  <a id="back" href="#" onclick="history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="/funding-options/what-funding" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {{ govukCheckboxes(model) }}

      {{ govukButton({
        text: "Continue",
        attributes: {
          id: "submit"
        }
      }) }}
    </form>
    </div>
  </div>
{% endblock %}
