.config/
.DS_Store
.npm/
test/acceptance/logs
test/acceptance/*.log
test/acceptance/reports
test/acceptance/html-reports
.standard-v12-cache/
.vscode
app/static/stylesheets/*.css*
lcov.info
node_modules
npm-debug.log
test-output
*.tgz
helm/**/*.lock
.env
.idea
dist/
# Generated views
_layout.njk
_cookie-banner.njk
map.njk
parcel.njk
confirm-details.njk
how-much.njk
