{% extends "_layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" autocomplete="off" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>

      {{ govukWarningText({
        text: "A convenience to get the Caller ID directly.",
        iconFallbackText: "Warning"
      }) }}

      <h1 class="govuk-heading-l">Enter Caller ID</h1>

      {{ govukInput(input) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
  <div>
</div>
{% endblock %}
