{% extends "_layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "./proto/sidebar.njk" import sidebar %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/proto/sfi-eligibility"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" autocomplete="off" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>

      {# {{ govukWarningText({
        text: "Pull all land cover/use data for the chosen SBI. Check the following: 1. land codes with those
        eligible for each standard, 2. SSSI on parcels, 3. any overlap with ES/CS that could cause an issue.
        If SBI has eligible parcels then display that standard.",
        iconFallbackText: "Warning"
      }) }} #}

      <div class="govuk-body">
        {{ details | safe }}
      </div>

      {{ govukRadios(radios) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
  {{ sidebar("Overview", sidebarItems) }}
</div>
{% endblock %}
