{% extends "_layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %} 
  
    <link href="../static/css/map.1fe5812d49b9b9e4300b.css" rel="stylesheet">
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "/application-task-list",
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      {% include "save/save.njk" %}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form method="GET" action="/management-control" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <h1 class="govuk-heading-l">Your land details</h1>   
      <p class="govuk-body">This is the land cover information currenty registered in your Rural Payments Agency (RPA) account.</p>
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">Change view</label>
        <select class="govuk-select" id="layer-select" name="layer-select">
          <option value="Road_27700" selected>Road</option>
          <option value="Outdoor_27700">Outdoor</option>
          <option value="Light_27700">Light</option>
          <option value="Leisure_27700">Leisure</option>
        </select>
      </div>  
      <p class="govuk-body"><div id="map" class="map"></div></p>

      <h2 class="govuk-heading-m">Summary</h2>
      <p class="govuk-body">
        72 hectares of arable land across 31 parcels<br>
        74 hectares of permanent grassland across 24 parcels<br>
        3 hectares of non-agricultural land across 2 parcels<br>
        0 hectares of site of special scientific interest (SSSI) land<br>
      </p>

      {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "landControlCheck",
          name: "landControlCheck",
          fieldset: {
            legend: {
              text: "Is your land cover information correct?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, my information is correct"
            },
            {
              value: "no",
              text: "No, I need to update my information"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue",
        attributes: {
          id: "submit"
        }
      }) }}
    </form>
  </div>
  <div>
</div>

  <script src="../static/js/map.1fe5812d49b9b9e4300b.js"></script>

<script>
  const parcels = {{ parcels | dump | safe }}
  const center = {{ center | dump | safe }}
  const sbi = {{ sbi }}
  const apiKey = {{ apiKey | dump | safe }}
  const mapStyle = {{ mapStyle | dump | safe }}
  if (mapStyle !== '') { 
    document.getElementById("layer-select").value = mapStyle
  }
  if(apiKey !== '') {
    map.displayMap(apiKey, sbi, parcels, center)
  }
</script>
{% endblock %}