{% extends "_layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %} 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a href="{{back}}" class="govuk-back-link">Back</a>
    </div>
    <div class="govuk-grid-column-one-half">
      {% include "save/save.njk" %}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="GET" action="{{next}}" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <h1 class="govuk-heading-l">Check your land details</h1>   
      <p class="govuk-body">Your Rural Payments Agency (RPA) account details.</p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Single Business Identifier (SBI)</h2>
      <p class="govuk-body">{{sbi}}</p>

      <h2 class="govuk-heading-m">Business address</h2>
      <p class="govuk-body">{{name}}<br>
          {{address}}
      </p>

      <h2 class="govuk-heading-m">Land registered in England</h2>
      <p class="govuk-body">Total land: {{ totalHa }} hectares of land</p>

       <ul class="govuk-list">
        {% for landCover in landCovers %}
          {% if landCover.area > 0 %}
            <li>{{ landCover.name }}: {{ landCover.area | round(2) }} hectares </li>
          {% endif %}
        {% endfor %}
      </ul>
      
      <h2 class="govuk-heading-m">Your schemes</h2>
      <p class="govuk-hint">Includes current and past scheme participation</p>
      <ul class="govuk-list">
        <li>Basic Payment Scheme (BPS) last paid: January 2021</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "landControlCheck",
          name: "landControlCheck",
          fieldset: {
            legend: {
              text: "Do you have management control of this land?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "You must have a land management control agreement to apply for the scheme."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Confirm and continue",
        attributes: {
          id: "submit"
        }
      }) }}

      <p class="govuk-body">
        <a href="#">My details have changed</a>
      </p>
    </form>
  </div>
  <div>
</div>
{% endblock %}