{% extends "_layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
    Check your details
    </h1>
    <p class="govuk-body">Your Rural Payments Agency (RPA) account details.</p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">Your business</h2>
    <p class="govuk-body">{{sbi}}</p>
    <p class="govuk-body">{{name}}<br>
        {{address}}
    </p>
    <h2 class="govuk-heading-m">Your land</h2>
    <p class="govuk-body">270 hectares of land<br>5100 metres of boundaries</p>
    <p class="govuk-body"><a href="/map?sbi={{sbi}}">View your land parcels</a></p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <form method="POST">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {{ govukButton({
        text: "Confirm and check eligibility",
        attributes: {
          id: "submit"
        }
      }) }}
    </form>
    
    <p class="govuk-body">
      <a href="change-land-business-details">My details have changed</a>
    </p>
  </div>
  <div>
</div>
{% endblock %}
