{% extends "_layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "/funding/what-funding",
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      {% include "save/save.njk" %}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="funding-overview" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <span class="govuk-caption-l">
        Improved grassland soils
      </span>
      <h1 class="govuk-heading-l">
        Improved grassland soils standard: how it works
      </h1>

      <p class="govuk-body">
        This standard sets out actions you’ll need to take to manage your land in an environmentally sustainable way.
      </p>

      <p class="govuk-body">
        By maintaining your improved grassland soils you’ll:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>improve conditions for wildlife</li>
        <li>help the environment</li>
        <li>reduce the costs of agriculture and horticulture</li>
        <li>reduce the effects of climate change</li>
      </ul>

      {{ govukButton({
        text: "Continue",
        attributes: {
          id: "submit"
        }
      }) }}
    </form>
  </div>
  <div>
</div>
{% endblock %}
