{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: "/v2/search-crn",
        attributes: {
          id: "back"
        }
      }) 
    }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="/v2/select-sbi" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {% if model.items.length > 0 %}
        {{ govukRadios(model) }}
        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "submit"
          }
        }) }}
      {% else %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "No SBI(s) found!"
              }
            ]
          }) }}
      {% endif %}
    </form>
    </div>
  </div>
{% endblock %}