{% extends "_layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "/arable-soils/high/soil-management",
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      {% include "save/save.njk" %}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="high-end" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <span class="govuk-caption-l">
        Arable and horticultural soils high level
      </span>
      <h1 class="govuk-heading-l">
        You qualify for the high payment level
      </h1>

      {{ govukInsetText({
        html: "Based on your <strong>70 hectares</strong> your application is currently worth <strong>£1,820</strong>."
      }) }}

      {{ govukRadios({
          idPrefix: "high-end",
          name: "high-end",
          fieldset: {
            legend: {
              text: "Do you want to do the high level actions for extra payment?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No, I only want to qualify for the medium level payment rate"
            }
          ]
        }) }}

      {{ govukDetails({
        summaryText: "How can standard levels differ?",
        text: ""
      }) }}

      {{ govukButton({
        text: "Continue",
        attributes: {
          id: "submit"
        }
      }) }}
    </form>
  </div>
  <div>
</div>
{% endblock %}