{% extends "_layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "/payment-schedule",
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      {% include "save/save.njk" %}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="check-your-answers" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {% if selectedStandardCode === 'sfi-arable-soil' %}
        <span class="govuk-caption-l">
          Arable and horticultural soils
        </span>
      {% endif %}
      {% if selectedStandardCode === 'sfi-improved-grassland' %}
        <span class="govuk-caption-l">
          Improved grassland soils
        </span>
      {% endif %}
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Business"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "business"
                }
              ]
            }
          },
          {
            key: {
              text: "SBI Number"
            },
            value: {
              text: ""
            }
          },
          {
            key: {
              text: "Land management control"
            },
            value: {
              html: ""
            }
          },
          {
            key: {
              text: "Relationship to business"
            },
            value: {
              html: ""
            }
          },
          {
            key: {
              text: "Funding option"
            },
            value: {
              html: ''
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "fundingOption"
                }
              ]
            }
          },
          {
            key: {
              text: "Amount of improved grassland"
            },
            value: {
              html: ''
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "amount"
                }
              ]
            }
          },
          {
            key: {
              text: "Payment level"
            },
            value: {
              html: ''
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "paymentLevel"
                }
              ]
            }
          },
          {
            key: {
              text: "Application value"
            },
            value: {
              html: ''
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "applicationValue"
                }
              ]
            }
          },
          {
            key: {
              text: "Payment schedule"
            },
            value: {
              html: ''
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "paymentSchedule"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        attributes: {
          id: "submit"
        }
      }) }}
    </form>
  </div>
  <div>
</div>
{% endblock %}