{% extends "_layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "/arable-soils/basic/basic-end",
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      {% include "save/save.njk" %}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="payment-schedule" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {% if selectedStandardCode === 'sfi-arable-soil' %}
        <span class="govuk-caption-l">
          Arable and horticultural soils
        </span>
      {% endif %}
      {% if selectedStandardCode === 'sfi-improved-grassland' %}
        <span class="govuk-caption-l">
          Improved grassland soils
        </span>
      {% endif %}

      {{ govukRadios({
          idPrefix: "payment-schedule",
          name: "payment-schedule",
          fieldset: {
            legend: {
              text: "When would you like to be paid?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "monthly",
              text: "Monthly, throughout my agreement"
            },
            {
              value: "quarterly",
              text: "Quarterly, throughout my agreement"
            },
            {
              value: "yearly",
              text: "Yearly, at the end of my agreement period"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue",
        attributes: {
          id: "submit"
        }
      }) }}
    </form>
  </div>
  <div>
</div>
{% endblock %}