{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "macros/task-link.njk" import taskLink %}
{% from "./sidebar.njk" import sidebar %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a href="{{model.back}}" class="govuk-back-link">Back</a>
    </div>
    <div class="govuk-grid-column-one-half">
      {% include "save/save.njk" %}
    </div>
  </div>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Sustainable Farming Incentive</span>
      <h1 class="govuk-heading-l">{{serviceName}}</h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed {{ model.completedSections }} of 4 sections.</p>
      <ol class="app-task-list">
        {% for name, item in taskList %}
            <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">{{loop.index}}. </span> {{ name }}
            </h2>
            <ul class="app-task-list__items">
              {% for task in item %}
                <li class="app-task-list__item"> 
                  {{ taskLink(task.taskList.status, task.taskList.title, task.route) }}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ol>
      <ol class="app-task-list">
        {% for taskGroup in model.taskList %}
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">{{loop.index}}. </span> {{ taskGroup.taskGroup }}
            </h2>
            <ul class="app-task-list__items">
              {% for task in taskGroup.tasks %}
                <li class="app-task-list__item"> 
                  {{ taskLink(task.status, task.taskName, task.url) }}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ol>
    </div>
     {{ sidebar("Saved Applications", model.savedAgreements, model.selectedSbi) }}
  </div>
{% endblock %}
