{% extends '_layout.njk' %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="GET" action="/{{referer}}">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application complete
          </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>{{ agreementNumber }}</strong>
          </div>
        </div>

        <p class="govuk-body">
          We've sent you a confirmation email.
        </p>

        <h2 class="govuk-heading-m">What happens next<h2>

        <p class="govuk-body">
          We'll review your application and contact you either to approve your agreement, or to ask for more information
        </p>
      </form>
    </div>
  </div>
{% endblock %}
