{% extends 'layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <h1>Test!!</h1>
    </main>
  </div>
{% endblock %}
