{% extends '_layout.njk' %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="GET" action="{{referer}}">
        {{ govukPanel({
          titleText: "We've saved your application for 14 days"
        }) }}

        <p class="govuk-body">
          We've sent an email to xxxxx@ssssss.com with information about how to return to this application later.
        </p>

        <h2 class="govuk-heading-m">What happens next<h2>

        <p class="govuk-body">
          We'll save this application for 14 days before we delete it.
        </p>

        <p class="govuk-body">
          It's now safe to close this window.
        </p>

        {{ govukButton({
            text: "Continue",
            attributes: {
              id: "submit"
            }
          }) }}

      </form>
    </div>
  </div>
{% endblock %}
