{% macro sidebar(heading, items, selectedOrganisation) %}
  <div class="govuk-grid-column-one-third  govuk-!-padding-top-4 govuk-body">
  <div class="govuk-heading-m">
    {{ selectedOrganisation.name }}
  </div>
  <div class='govuk-hint'>SBI number: {{ selectedOrganisation.sbi }}<div>
  <hr class="sideBarColor"/>
    <h2 class="govuk-heading-m" id="subsection-title">
      {{ heading }} ({{items.length}})
    </h2>
    
    <ul class="govuk-list govuk-list--bullet">
      {% for item in items %}
        <li><a href="/application-task-list/{{ item.agreementNumber }}/{{ item.sbi }}">{{ item.agreementNumber }} - {{ item.sbi }}</a><div class="govuk-hint">{{item.updatedAtFormated}}</div></li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}