{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: "/sign-in",
        attributes: {
          id: "back"
        }
      }) 
    }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="/start-application" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <input type="hidden" name="sbi" value="{{ organisation.sbi }}"/>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">Sustainable farming funding applications for this organisation</h1>
            </legend>
            <div class="govuk-form-group">
              <h2 class="govuk-heading-m">{{ organisation.name }}</h2>
              <ul class="govuk-list">
                <li><strong>SBI number:</strong> {{ organisation.sbi }}</li>
                <li><strong>Address:</strong> {{ organisation.address }}</li>
              </ul>
            </div>
          </div>
          {{ govukButton({
            text: "Start new application",
            attributes: {
              id: "start-application"
            }
          }) }}
        </form>
      </div>
    </div>
  {% endblock %}
