{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "/application-task-list",
        attributes: {
          id: "back"
        }
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      {% include "save/save.njk" %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="GET" action="/confirmation" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>

      <h1 class="govuk-heading-l">Declaration</h1>

      <p class="govuk-body">
        By sending the application you agree that:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the information you’ve given is correct</li>
        <li>you’ll carry out the land actions in your agreement</li>
        <li>you’ll follow the <a href="#">cross-compliance</a> rules</li>
      </ul>

      {{ govukWarningText({
        text: "You could be prosecuted or have to pay a financial penalty if you deliberately give the wrong or incomplete information, or don’t report changes.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukButton({
        text: "I agree - send my application",
        attributes: {
          id: "submit"
        }
      }) }}

    </form>
    </div>
  </div>
{% endblock %}