{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Unfortunately, you're not eligible for Sustainable Farming Incentive</h1>

      <p class="govuk-body">Based on your answers, you cannot apply for Sustainable Farming Incentive 2022 scheme.</p>
    </div>
  </div>
{% endblock %}